TELEGRAM_BOT_TOKEN=
BOT_PRIVATE_KEY=
ROOTSTOCK_RPC_URL=https://public-node.testnet.rsk.co
CHAIN_NAME=Rootstock Testnet
USDT0_DECIMALS=6
CONTRACT_ADDRESS_FILE=../../frontend/src/abis/contract-address.json
LENDING_POOL_ABI_FILE=../../frontend/src/abis/LendingPool.json
USDT0_ABI_FILE=../../frontend/src/abis/MockUSDT0.json
# Optional override addresses
# LENDING_POOL_ADDRESS=
# USDT0_ADDRESS=